software/nmc_ensemble_toolkits/win64/集合预报工具箱V1.3/IDL85/resource/langcat/bridges/langcat.dtd

<!-- $Id: //depot/idl/IDL_63/idldir/resource/langcat/itools/langcat.dtd#1 $ -->
<!ELEMENT IDLffLangCat (LANGUAGE*)>
  <!ATTLIST IDLffLangCat
    APPLICATION CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    AUTHOR CDATA #IMPLIED
    DATE CDATA #IMPLIED
  >
<!ELEMENT LANGUAGE (KEY*)>
  <!ATTLIST LANGUAGE
    NAME CDATA #REQUIRED
  >
<!ELEMENT KEY (#PCDATA)>
  <!ATTLIST KEY
    NAME CDATA #REQUIRED
    TYPE CDATA #IMPLIED
  >
